h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 100%;
}

.side-box {
    margin-top: 40px;
}
.edit {
    background-color: #008000;
    width: 70px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    margin-right: 10px;
}

.edit:hover {
    background-color: #00b300;
}

.delete {
    background-color: #ff0000;
    width: 70px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
}

.delete:hover {
    background-color: #ff4d4d
}