{% extends 'base.html'%} {% block content %}
<h1>Add new student</h1>
<form action="{{ url_for('insert_pupil')}}" method="POST">
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <input id="First_Name" name="First_Name" type="text">
            <label for="First_Name">First Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <input id="Surname" name="Surname" type="text">
            <label for="Surname">Surname</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">cake</i>
            <input id="Date_of_Birth" name="Date_of_Birth" type="text">
            <label for="Date_of_Birth">Date of Birth</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">group</i>
            <select name="Form_Name">
                {% for schoolform in schoolforms %}
                <option value="{{schoolform.Form_Name}}">{{schoolform.Form_Name}}</option>
                {% endfor %}
            </select>
            <label>Form</label>
        </div>
    </div>
    <div class="row">

        <button class="btn waves-effect waves-light" type="submit">Submit
        </button>
    </div>
</form>

{% endblock %}


