{% extends 'base.html'%} {% block content %}
<h1>Add new report</h1>
<form action="{{ url_for('insert_report', schoolform_name=schoolform_name, pupil_id=pupil_id)}}" method="POST">
      <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">person</i>
            <input id="First_Name" name="First_Name" type="text" required>
            <label for="First_Name">First Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">person</i>
            <input id="Surname" name="Surname" type="text" required>
            <label for="Surname">Surname</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">group</i>
            <select name="Form_Name">
                {% for schoolform in schoolforms %}
                <option value="{{schoolform.Form_Name}}">{{schoolform.Form_Name}}</option>
                {% endfor %}
            </select>
            <label>Form</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">local_library</i>
            <select name="Title">
                {% for subject in subjects %}
                <option value="{{subject.Title}}">{{subject.Title}}</option>
                {% endfor %}
            </select>
            <label>Subject</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">date_range</i>
            <input id="Date" name="Date" class="datepicker" type="text" required>
            <label for="Date">Date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea name="Details" id="Details" class="materialize-textarea" data-length required></textarea>
            <label for="Details">Details</label>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Submit
        </button>
    </div>
</form>
{% endblock %}
