<html>
    <head></head>
    <body>
        <form action="{{ url_for('update_pupil', pupil_id=pupil._id)}}" method="POST">
                <p>First Name: <input value="{{ pupil.First_Name }}" name="First_Name"></input></p>
                <p>Surname: <input value ="{{ pupil.Surname }}" name="Surname"></input></p>
                <p>Date of Birth: <input value="{{ pupil.Date_of_Birth }}" name ="Date_of_Birth"></input></p>
                <p><select name="Form_Name">
                    {% for schoolform in schoolforms %}
                    <option>{{schoolform.Form_Name}}</option>
                    {% endfor %}
                </select></p>
            <button type="submit" name="action">Update</button>
        </form>      
    </body>
</html>