{% extends 'base.html'%} {% block content %}
<h1>Edit subject</h1>
<form action="{{ url_for('update_subject', subject_id=subject._id)}}" method="POST">
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">local_library</i>
            <input id="Title" name="Title" type="text" value="{{subject.Title}}" required>
            <label for="Title">Name of subject</label>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Submit
        </button>
    </div>
</form>

{% endblock %}
