{% extends 'base.html'%} {% block content %}
<h1>Forms</h1>
<div class="row">
    <div class="col s6">
        {% for schoolform in schoolforms %}
        <h2><a href="{{url_for('schoolform', schoolform_name=schoolform.Form_Name)}}">{{ schoolform.Form_Name }}</a></h2>
        <p><strong>Teacher:</strong> {{ schoolform.Teacher}}</p>
        <p><a href="{{url_for('edit_form', schoolform_id=schoolform._id)}}" class="waves-effect waves-light btn edit">Edit</a>
            <a href="" class="waves-effect waves-light btn delete modal-trigger">Delete</a></p>
        {% endfor %}
    </div>
    <div class="col s6">
        <div class="side-box">
        <p><strong>Click on a form name for student details. Or use the button below to add a new form.</strong></p>
        <p><a href="{{url_for('add_form')}}" class="waves-effect waves-light btn">Add new form</a></p>
        </div>
    </div>
</div>

 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}





