{% extends 'base.html'%} {% block content %}

<h1> Reports for {{pupil.First_Name}} {{pupil.Surname}} - {{pupil.Form_Name}}</h1>
<div class="row">
<div class="col s9">
{% for report in reports %}
{% if report.First_Name == pupil.First_Name and report.Surname == pupil.Surname and report.Date_of_Birth == pupil.Date_of_Birth %}
 <ul class="collapsible">
    <li>
      <div class="collapsible-header">
          
         <h3>{{report.Title}} - {{report.Date}}<i class="material-icons">expand_more</i></h3>
         
</div>
<div class="collapsible-body">
<p>{{report.Details}}</p>
<a href="{{url_for('edit_report', schoolform_name = pupil.Form_Name, pupil_id=pupil._id, report_id=report._id)}}" class="waves-effect waves-light btn edit">Edit</a>
    <form action="{{url_for('delete_report', schoolform_name = pupil.Form_Name, pupil_id=pupil._id, report_id=report._id)}}" class="delete-form" method="POST">
                        <button type="submit" class="waves-effect waves-light btn btn_small delete">Delete</button>
                    </form>
</div>
</li>
</ul>
{% endif %}
{% endfor %}
  </div>
    <div class="col s3">
        <div class="side-box">
            <p><a href="{{url_for('add_report', schoolform_name = pupil.Form_Name, pupil_id=pupil._id)}}" class="waves-effect waves-light btn">Add new report</a></p>
        </div>
    </div>
    </div>
   
{% endblock %}

