<html>
    <head></head>
    <h1>Form {{schoolform_name}}</h1>
    <body>
            {% for pupil in pupils %}
                {% if schoolform_name == pupil.Form_Name %}
                <p>Name: {{ pupil.First_Name }} {{ pupil.Surname }}</p>
                <p>Date of Birth: {{ pupil.Date_of_Birth }}</p>
                <p><a href="{{url_for('edit_pupil', pupil_id= pupil._id)}}">Edit</a></p>
                <p><a href="">Delete</a></p>
                {% endif %}
            {% endfor %}
    </body>
</html>