{% extends 'base.html'%} {% block content %}
<h1>{{schoolform_name}}</h1>
<div class="row">
    <div class="col s6">
    {% for pupil in pupils %}
        {% if schoolform_name == pupil.Form_Name %}
            <h2><a href="{{url_for('pupil', pupil_id= pupil._id,schoolform_name=schoolform_name)}}">{{ pupil.First_Name }} {{ pupil.Surname }}</h2></a>
            <p><strong>Date of Birth:</strong> {{ pupil.Date_of_Birth }}</p>
            <p><a href="{{url_for('edit_pupil', pupil_id= pupil._id)}}" class="waves-effect waves-light btn edit">Edit</a>
            <a href="" class="waves-effect waves-light btn delete">Delete</a></p>
        {% endif %}
    {% endfor %}
    </div>
    <div class="col s6">
        <div class="side-box">
            <p><strong>Click on a student's name for report details. Or use the button below to add a new report.</strong></p>
            <p><a href="{{url_for('add_pupil', schoolform_name=schoolform_name)}}" class="waves-effect waves-light btn">Add new student</a></p>
        </div>
    </div>
    </div>
{% endblock %}
